body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
/* Navbar Section */
.top-bar {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.navbar .account{
    margin-right: -850px;
    display: flex;
    gap: 20px;
}
.navbar .account a{
    text-decoration: none;
    color: rgb(153, 150, 150);
    font-size: smaller;
}
.navbar .account a #grey{
    color: grey;
}
.navbar .logo{
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-right: -350px;
}

.navbar .logo .logo-img img {
    width: 50px;
    margin-left: -230px;
    display: block;
    height: 50px;
}
 .menu ul{

    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
}
.navbar .user-menu ul{
    display: flex;
    list-style: none; 
    gap: 30px;
}
.navbar .user-menu .search{
    display: flex; 
    align-items: center;
    background-color: gray;
    width: 130px;
    gap:60px;
}

.promo-bar {
    background-color: #ebf4f4; ;
    color: black;
    text-align: center;
    padding: 5px 10px;
    font-size: 16px;
}

.promo-bar a {
    color: black;
    text-decoration: underline;
    text-transform: uppercase;
}
/* Heero Section */
.hero{
    background-image: url("img/hero_background.jpg");
    height: 400px;
    width: 100%;
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.hero .content{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.hero .content h4{
    background-color: #ebf4f4;
    width: fit-content;
    justify-content: center;
    padding: 5px;
}
.hero .content p{
      background-color: #ebf4f4;
    width: fit-content;
    justify-content: center;
    padding: 5px;
}
.hero .content .btn a{
     background-color: #ebf4f4;
    width: fit-content;
    justify-content: center;
    padding: 5px;
    text-decoration: none;
    color: #000;
    margin-right: 40px;
}
.hero .content .btn a:hover{
    padding: 5px 7px;
    background-color: rgba(251, 245, 233, 0.957);
    color: rgb(187, 186, 186);
}
/* First card Section */
.adiclub .car-section{
    display: flex; 
    gap: 20px;
    padding-left: 30px;
}
.adiclub h3{
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 30px;
}
.adiclub p{
    font-weight: 300;
     padding-left: 10px;
     margin-top: -10px;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    .adiclub .car-section .card  img{
        height: 400px;
        width: 100%;
        border-radius: 20px;
    }
 .adiclub .car-section .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 .adiclub .car-section .card p{
    margin-left: 0px;
    padding-left: 0px;
 }   
 .adiclub .car-section .card a{
    color: #000;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
 }
 /* extra image section */
 .extra-images .image1{
    background-image: url("img/bac.png");
     height: 200px;
     width: 100%;
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 50px;
}
 .image1 .btn{
    padding-top: 150px;
    padding-left: 520px;
 }
  .image1 .btn a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 40px;
  }
   .image1 .btn a:hover{
    color: grey;
   }
  .extra-images .image2{
    background-image: url("img/background3.png");
     height: 500px;
     width: 100%;
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 50px;
}
.extra-images .image2 .btn{
    padding-top: 440px;
    padding-left: 30px;
}
.extra-images .image2 .btn a{
     text-decoration: none;
    color: black;
    background-color: white;
    padding: 20px 60px;
}
.image2 .btn a:hover{
    color: grey;
   }
  /* 2nd card section */
  .cardSection2 .card-section{
    margin-top: 50px;
    display: flex; 
    gap: 20px;
    padding-left: 30px;
    margin-bottom: 100px;
}
.cardSection2 h3{
    text-transform: uppercase;
    margin-left: 60px;
    font-size: 30px;
}
.cardSection2 .card-section .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.cardSection2 .card-section .card  img{
        height: 400px;
        width: 100%;
        border-radius: 20px;
    }
.cardSection2 .card-section .card  a{
    color: #000;
    padding-left: 20px;
}
/* 1st shoes section */
.shoes .category {
    display: flex;
    margin-left: 50px;
    gap: 20px;
    margin-bottom: 40px;
}
.shoes .category a{
    padding: 8px 15px;
    border: 1px solid black;
    color: #000;
    text-decoration: none;
    font-weight: bold;

}
#black{
    padding: 8px 15px;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #000;
}
#black:hover{
    background-color: transparent;
    color: black;
}
.shoes .category a:hover{
    background-color: #000;
    color: white;
}
.shoes .shoes-card .shoes-option{
    display: flex;
    flex-direction: column;
}
.shoes .shoes-card{
    display: flex;
    margin-bottom: 30px;

}
/* 3rd image section */
.third-image{
background-image: url("img/3rd image.png");
    height: 600px;
    width: 100%;
     background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 70px;
    
}
.third-image .btn{
 padding-top: 515px;
 padding-left: 40px;
}
.third-image .btn a{
    background-color: #000;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
}
.third-image .btn a:hover{
    color: rgb(241, 227, 200);
}
/* popular section */
.popular h3{
    margin-left: 50px;
    font-size: 20px;
}
.popular .categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.popular .categories h4{
    border-bottom: 1px solid black;
    margin-left: 40px;
    width: 140px;
    font-size: larger;
    padding-bottom: 10px;
}
.popular .categories h4:hover{
    border-bottom: 5px solid black;
}
.popular .shoes-card{
      display: flex;
    margin-bottom: 30px;
}
.popular .shoes-card .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popular .shoes-card .card p{
    padding-left: 20px;
}
.popular .category{
    margin: 50px;
    display: flex;
    gap: 40px;
}
.popular .category a{
     padding: 8px 15px;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: transparent;
}
.popular .category a:hover{
    background-color: #000;
    color: white;
}
#bg-black{
     padding: 8px 15px;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: #000;
}
#bg-black:hover{
    background-color: #fff;
    color: black;
}
/* story */
.story{
    margin-top: 40px;
}
.story img{
    width: 100%;
    height: 100%;
}
/* discount */
.discount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: rgb(238, 238, 15);
    color: black;
    height: 100px;
    font-size: 25px;
}
.discount a{
    padding: 10px 15px;
    background-color: #000;
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.discount a:hover{
    color: wheat;
}
.discount a i{
    font-size: 15px;
    margin-left: 10px;
}
/* FOOTER SECTION */
.footer{
    display: flex; gap: 60px;
    margin-left: 70px;
    padding-top: 50px;
    padding-bottom: 70px;
}
.footer .list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .list a{
    color: black;
    text-decoration: none;
}
.footer .list a:hover{
    border-bottom: 1px solid black;
}
footer .top{
    display: flex;
    color: #ebf4f4;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
footer .top a{
    text-decoration: none;
    color: white;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 57, 57);
    color: white; 
    font-size: small;
}
#checked{
    display: none;

}
label{
    display: none;
}
@media screen and (max-width:768px){
    .menu ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: -130px;
        width: 100%;
    } 
    .menu ul li{
         text-align: center;
    }
    .navbar .user-menu ul{
       display: none;
    }
    .navbar .account{
       display: none;
    }
    .navbar .logo .logo-img img {
    width: 50px;
     margin-left:-430px;
    display: block;
    height: 50px;
}
    .hero{
        width: 100%;
    }
    .adiclub .car-section{ 
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
     .image1 .btn{
    padding-top: 140px;
    padding-left: 280px;
    }
    .extra-images .image2 .btn{
    padding-top: 420px;
    padding-left: 0px;
}

    .cardSection2 .card-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .shoes .shoes-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .popular .shoes-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .third-image{
        width: 100%;
    }

}
@media screen and (max-width:426px){
    .top-bar{
        width: 540px;
    }
    .promo-bar{
        width: 510px;
    }
     .navbar .logo{
    display: flex; 
    }
  .navbar .logo .logo-img img {
    width: 50px;
     margin-left:-280px;
    display: block;
    height: 50px;
}
     .menu ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: -140px;
        width: 100%;
    } 
    .menu ul li{
         text-align: center;
    }
    .navbar .user-menu ul{
       display: none;
    }
    .navbar .account{
       display: none;
    }
     .hero{
        width: 540px;
    }
    .adiclub .car-section{ 
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 30px;
    }
    .extra-images .image1 {
        width: 540px;
    }

     .image1 .btn{
    padding-top: 140px;
    padding-left: 180px;
    }
    .extra-images .image2{
        width: 540px;
    }
    .extra-images .image2 .btn{
    padding-top: 420px;
    padding-left: 0px;
}
    .cardSection2 .card-section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .shoes .shoes-card{
        display: grid;
        grid-template-columns: 1fr;
    }
    .popular .shoes-card{
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .third-image{
        width: 540px;
    }
    .story{
        width: 540px;
    }
    .discount{
        width: 540px;
    }
    footer{
        width: 540px;
    }
    .image{
        width: 500px;
    }
   
}